In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("üéâ ALLES FUNKTIONIERT!")
print(f"‚úÖ Pandas Version: {pd.__version__}")
print(f"‚úÖ Numpy Version: {np.__version__}")
print("\nüöÄ Bereit f√ºr die Datenanalyse!")

üéâ ALLES FUNKTIONIERT!
‚úÖ Pandas Version: 2.3.3
‚úÖ Numpy Version: 2.3.5

üöÄ Bereit f√ºr die Datenanalyse!

In [4]:
# Daten laden
file_path = '../data/online_retail.xlsx'

print("üìÇ Lade Daten... (dauert ca. 30 Sekunden)")
df = pd.read_excel(file_path)

print(f"\n‚úÖ Erfolgreich geladen!")
print(f"üìä Anzahl Zeilen: {df.shape[0]:,}")
print(f"üìä Anzahl Spalten: {df.shape[1]}")
print(f"\nüìã Spaltennamen:")
print(df.columns.tolist())

üìÇ Lade Daten... (dauert ca. 30 Sekunden)

‚úÖ Erfolgreich geladen!
üìä Anzahl Zeilen: 541,909
üìä Anzahl Spalten: 8

üìã Spaltennamen:
['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

In [5]:
# Erste 10 Zeilen anzeigen
print("üîç Erste 10 Zeilen der Daten:\n")
df.head(10)

üîç Erste 10 Zeilen der Daten:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [6]:
# Umfassende Daten√ºbersicht
print("=" * 60)
print("DATENQUALIT√ÑTS-CHECK")
print("=" * 60)

print(f"\nüìä Shape: {df.shape[0]:,} Zeilen √ó {df.shape[1]} Spalten")

print(f"\nüìã Spalten und Datentypen:")
print(df.dtypes)

print(f"\n‚ùì Fehlende Werte:")
missing = df.isnull().sum()
missing_pct = (missing / len(df) * 100).round(2)
missing_df = pd.DataFrame({
    'Fehlend': missing,
    'Prozent': missing_pct
})
print(missing_df[missing_df['Fehlend'] > 0])

print(f"\nüîÅ Duplikate: {df.duplicated().sum():,}")

============================================================
DATENQUALIT√ÑTS-CHECK
============================================================

üìä Shape: 541,909 Zeilen √ó 8 Spalten

üìã Spalten und Datentypen:
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

‚ùì Fehlende Werte:
             Fehlend  Prozent
Description     1454     0.27
CustomerID    135080    24.93

üîÅ Duplikate: 5,268

In [7]:
# Numerische Statistiken
print("üìà STATISTISCHE √úBERSICHT")
print("=" * 60)
df.describe()

üìà STATISTISCHE √úBERSICHT
============================================================

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [8]:
# Zeitraum analysieren
print("üìÖ ZEITRAUM DER DATEN")
print("=" * 60)

# InvoiceDate zu datetime konvertieren
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

print(f"Erste Transaktion: {df['InvoiceDate'].min()}")
print(f"Letzte Transaktion: {df['InvoiceDate'].max()}")
print(f"Zeitspanne: {(df['InvoiceDate'].max() - df['InvoiceDate'].min()).days} Tage")
print(f"            ({((df['InvoiceDate'].max() - df['InvoiceDate'].min()).days / 30):.1f} Monate)")

üìÖ ZEITRAUM DER DATEN
============================================================
Erste Transaktion: 2010-12-01 08:26:00
Letzte Transaktion: 2011-12-09 12:50:00
Zeitspanne: 373 Tage
            (12.4 Monate)

In [10]:
# DATENBEREINIGUNG - SCHRITT F√úR SCHRITT

print("üßπ STARTE DATENBEREINIGUNG")
print("=" * 60)

# Original Shape
original_rows = df.shape[0]
print(f"Original: {original_rows:,} Zeilen")

# 1. Entferne Zeilen OHNE CustomerID (k√∂nnen nicht segmentiert werden!)
df_clean = df[df['CustomerID'].notna()].copy()
removed_no_customer = original_rows - df_clean.shape[0]
print(f"\n‚ùå Schritt 1: {removed_no_customer:,} Zeilen ohne CustomerID entfernt")
print(f"   ‚Üí Verbleibend: {df_clean.shape[0]:,} Zeilen")

# 2. Entferne Stornierungen (InvoiceNo beginnt mit 'C')
df_clean = df_clean[~df_clean['InvoiceNo'].astype(str).str.startswith('C')]
removed_cancellations = df.shape[0] - removed_no_customer - df_clean.shape[0]
print(f"\n‚ùå Schritt 2: {removed_cancellations:,} Stornierungen (Invoice mit 'C') entfernt")
print(f"   ‚Üí Verbleibend: {df_clean.shape[0]:,} Zeilen")

# 3. Entferne negative oder null Quantities
df_clean = df_clean[df_clean['Quantity'] > 0]
removed_negative_qty = df.shape[0] - removed_no_customer - removed_cancellations - df_clean.shape[0]
print(f"\n‚ùå Schritt 3: {removed_negative_qty:,} Zeilen mit Quantity ‚â§ 0 entfernt")
print(f"   ‚Üí Verbleibend: {df_clean.shape[0]:,} Zeilen")

# 4. Entferne negative oder null Prices
df_clean = df_clean[df_clean['UnitPrice'] > 0]
removed_negative_price = df.shape[0] - removed_no_customer - removed_cancellations - removed_negative_qty - df_clean.shape[0]
print(f"\n‚ùå Schritt 4: {removed_negative_price:,} Zeilen mit UnitPrice ‚â§ 0 entfernt")
print(f"   ‚Üí Verbleibend: {df_clean.shape[0]:,} Zeilen")

# 5. WICHTIG: Berechne TotalAmount (f√ºr Monetary-Wert!)
df_clean['TotalAmount'] = df_clean['Quantity'] * df_clean['UnitPrice']
print(f"\n‚úÖ Schritt 5: TotalAmount Spalte hinzugef√ºgt (Quantity √ó UnitPrice)")

# 6. Entferne extreme Outliers (optional aber empfohlen)
# Transaktionen √ºber 99. Perzentil k√∂nnten B2B/Gro√ühandel sein
q99 = df_clean['TotalAmount'].quantile(0.99)
df_clean = df_clean[df_clean['TotalAmount'] <= q99]
removed_outliers = df.shape[0] - removed_no_customer - removed_cancellations - removed_negative_qty - removed_negative_price - df_clean.shape[0]
print(f"\n‚ùå Schritt 6: {removed_outliers:,} Extreme Outliers (>99% Perzentil: ¬£{q99:.2f}) entfernt")
print(f"   ‚Üí Verbleibend: {df_clean.shape[0]:,} Zeilen")

# 7. Entferne Duplikate
df_clean = df_clean.drop_duplicates()
removed_duplicates = df.shape[0] - removed_no_customer - removed_cancellations - removed_negative_qty - removed_negative_price - removed_outliers - df_clean.shape[0]
print(f"\n‚ùå Schritt 7: {removed_duplicates:,} Duplikate entfernt")

# FINALE STATISTIK
print("\n" + "=" * 60)
print("‚úÖ BEREINIGUNG ABGESCHLOSSEN!")
print("=" * 60)
print(f"Original:        {original_rows:,} Zeilen")
print(f"Bereinigt:       {df_clean.shape[0]:,} Zeilen")
print(f"Entfernt:        {original_rows - df_clean.shape[0]:,} Zeilen ({((original_rows - df_clean.shape[0])/original_rows*100):.1f}%)")
print(f"Datenqualit√§t:   {(df_clean.shape[0]/original_rows*100):.1f}% behalten")
print(f"\nüë• Unique Customers: {df_clean['CustomerID'].nunique():,}")
print(f"üì¶ Unique Products:  {df_clean['StockCode'].nunique():,}")
print(f"üßæ Unique Invoices:  {df_clean['InvoiceNo'].nunique():,}")

üßπ STARTE DATENBEREINIGUNG
============================================================
Original: 541,909 Zeilen

‚ùå Schritt 1: 135,080 Zeilen ohne CustomerID entfernt
   ‚Üí Verbleibend: 406,829 Zeilen

‚ùå Schritt 2: 8,905 Stornierungen (Invoice mit 'C') entfernt
   ‚Üí Verbleibend: 397,924 Zeilen

‚ùå Schritt 3: 0 Zeilen mit Quantity ‚â§ 0 entfernt
   ‚Üí Verbleibend: 397,924 Zeilen

‚ùå Schritt 4: 40 Zeilen mit UnitPrice ‚â§ 0 entfernt
   ‚Üí Verbleibend: 397,884 Zeilen

‚úÖ Schritt 5: TotalAmount Spalte hinzugef√ºgt (Quantity √ó UnitPrice)

‚ùå Schritt 6: 3,969 Extreme Outliers (>99% Perzentil: ¬£202.50) entfernt
   ‚Üí Verbleibend: 393,915 Zeilen

‚ùå Schritt 7: 5,191 Duplikate entfernt

============================================================
‚úÖ BEREINIGUNG ABGESCHLOSSEN!
============================================================
Original:        541,909 Zeilen
Bereinigt:       388,724 Zeilen
Entfernt:        153,185 Zeilen (28.3%)
Datenqualit√§t:   71.7% behalten

üë• Unique Customers: 4,290
üì¶ Unique Products:  3,662
üßæ Unique Invoices:  18,018

In [13]:
# Bereinigte Daten speichern
import os

# Erstelle processed-Ordner falls nicht vorhanden
os.makedirs('../data/processed', exist_ok=True)

# Speichern als CSV (schnell, kompakt)
df_clean.to_csv('../data/processed/online_retail_clean.csv', index=False)

# Optional: Auch als Excel speichern (dauert l√§nger)
# df_clean.to_excel('../data/processed/online_retail_clean.xlsx', index=False)

print("‚úÖ Daten gespeichert!")
print(f"üìÅ Speicherort: data/processed/online_retail_clean.csv")
print(f"üíæ Dateigr√∂√üe: {os.path.getsize('../data/processed/online_retail_clean.csv') / 1024 / 1024:.2f} MB")

‚úÖ Daten gespeichert!
üìÅ Speicherort: data/processed/online_retail_clean.csv
üíæ Dateigr√∂√üe: 36.66 MB

In [14]:
# Numerische Statistiken
print("üìà STATISTISCHE √úBERSICHT")
print("=" * 60)
df.describe()

üìà STATISTISCHE √úBERSICHT
============================================================

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [15]:
# Zeitraum analysieren
print("üìÖ ZEITRAUM DER DATEN")
print("=" * 60)

# InvoiceDate zu datetime konvertieren
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

print(f"Erste Transaktion: {df['InvoiceDate'].min()}")
print(f"Letzte Transaktion: {df['InvoiceDate'].max()}")
print(f"Zeitspanne: {(df['InvoiceDate'].max() - df['InvoiceDate'].min()).days} Tage")
print(f"            ({((df['InvoiceDate'].max() - df['InvoiceDate'].min()).days / 30):.1f} Monate)")

üìÖ ZEITRAUM DER DATEN
============================================================
Erste Transaktion: 2010-12-01 08:26:00
Letzte Transaktion: 2011-12-09 12:50:00
Zeitspanne: 373 Tage
            (12.4 Monate)

In [18]:
# Unique Counts und Customer Insights
print("üî¢ UNIQUE WERTE & CUSTOMER INSIGHTS")
print("=" * 60)

# Transaktionen pro Customer
transactions_per_customer = df_clean.groupby('CustomerID')['InvoiceNo'].nunique()
print(f"\nüë• Customer Statistiken:")
print(f"   Durchschnittliche Transaktionen pro Customer: {transactions_per_customer.mean():.1f}")
print(f"   Median Transaktionen pro Customer: {transactions_per_customer.median():.0f}")
print(f"   Max Transaktionen eines Customers: {transactions_per_customer.max()}")

# Revenue pro Customer
revenue_per_customer = df_clean.groupby('CustomerID')['TotalAmount'].sum()
print(f"\nüí∞ Revenue Statistiken:")
print(f"   Durchschnittlicher Customer Lifetime Value: ¬£{revenue_per_customer.mean():.2f}")
print(f"   Median CLV: ¬£{revenue_per_customer.median():.2f}")
print(f"   Total Revenue: ¬£{revenue_per_customer.sum():,.2f}")

# Top 5 Customers
print(f"\nüèÜ Top 5 Customers nach Revenue:")
top_customers = revenue_per_customer.nlargest(5)
for i, (customer_id, revenue) in enumerate(top_customers.items(), 1):
    transactions = transactions_per_customer.loc[customer_id]
    print(f"   {i}. Customer {int(customer_id):5d}: ¬£{revenue:8,.2f} ({transactions} Transaktionen)")

# L√§nder-Verteilung
print(f"\nüåç Top 5 L√§nder nach Transaktionen:")
top_countries = df_clean['Country'].value_counts().head(5)
for country, count in top_countries.items():
    pct = (count / len(df_clean)) * 100
    print(f"   {country:20s}: {count:6,} ({pct:5.1f}%)")

üî¢ UNIQUE WERTE & CUSTOMER INSIGHTS
============================================================

üë• Customer Statistiken:
   Durchschnittliche Transaktionen pro Customer: 4.2
   Median Transaktionen pro Customer: 2
   Max Transaktionen eines Customers: 207

üí∞ Revenue Statistiken:
   Durchschnittlicher Customer Lifetime Value: ¬£1564.83
   Median CLV: ¬£645.97
   Total Revenue: ¬£6,713,108.95

üèÜ Top 5 Customers nach Revenue:
   1. Customer 14646: ¬£149,101.28 (65 Transaktionen)
   2. Customer 14911: ¬£129,954.15 (199 Transaktionen)
   3. Customer 17511: ¬£70,109.31 (30 Transaktionen)
   4. Customer 15311: ¬£56,566.47 (91 Transaktionen)
   5. Customer 13089: ¬£53,488.24 (94 Transaktionen)

üåç Top 5 L√§nder nach Transaktionen:
   United Kingdom      : 346,360 ( 89.1%)
   Germany             :  8,965 (  2.3%)
   France              :  8,278 (  2.1%)
   EIRE                :  7,037 (  1.8%)
   Spain               :  2,451 (  0.6%)